/*
    Mama, I just killed a puppy :(
    As we now every time you use !important a puppy dies but sometimes it's really necessary - I had to force the player to be responsive.
*/
.atdsplayer-container {
  width: 100% !important;
  height: 100% !important;
}

#video-feed-player {
  margin-bottom: 25px;
}
