.user-bets {
  display: flex;
  flex-wrap: wrap;
}

.user-bet {
  width: 100%;
  padding: 1em;

  @include rwd-from($breakpoint-m) {
    width: 25%;
  }

  &-wrapper {
    display: flex;
    background: #fff;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0 15px 30px;
  }
}
